@import "/src/scss/style";

.button {
  background: #EA5A5A;
  padding: 23px 113px;
  border: none;
  font-size: 15px;
  color: #fff;
  border-radius: 5px;

  &:hover {
    background: #E11E26;
    cursor: pointer;
  }
}
.agreement {
  color: #659FF6;
  cursor: pointer;
  &:hover {
    color: blue;
  }
}
.table {
  @include xl {
    max-width: 300px;
  }
}
.test {
  overflow: hidden;
}