@import "/src/scss/style";

.search-block {
  display: flex;
  justify-content: space-between;
  &__catalog {
    border-radius: 5px;
      background: #F8F0F0;
      padding: 16px 30px;
    border: none;
     cursor: pointer;
    @include xl {
    display: none;
    }
  }
  &__panel {
    width: 741px;
    background-color: #F7F7F7;
    border: 1px solid #E6E6E6;
    border-radius: 5px;
    padding-left: 10px;
    &::placeholder {
      padding-left: 17px;
      background: url("Ellipse 2753.png") no-repeat;
    }
    @include xxl {
      display: block;
      max-width: 250px;
    }
    @include xxl {
      display: block;
      height: 30px;
    }
  }
}
.btn-style {
  cursor: pointer;
  background-color: #F7F7F7;
  border: 1px solid #E6E6E6;
  border-radius: 5px;
  width: 48px;
  height: 48px;
  &:hover {
    background-color: beige;
  }
  @include xl {
    display: none;
  }
}
