code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  margin: 0;
  font-size: 13px;
  color: #333333;
  font-weight: 500;
  background-color: #E5E5E5;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
